.search-perfil{
  margin-top: -27rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
    font-size: 3rem !important;
    color: #599ddcff;
    margin-right: 10rem;
   span{
    color: #8c19d2ff;
   }
}
