

.search-input{
  min-width: 35vw;
  margin-right: 1rem;
}

.mat-icon {
  font-size: 2rem !important;
}

.btn-search{
  width: 10vw;
  height: 6vh;
  background-color: #8c19d2ff !important;
  color: #fff !important;
  font-size: 1.4rem;
}

.label-search{
  display: flex;
  align-items: center;
}

